*{

	margin:0px;
	padding:0px;

}

a {
	color:#5a3110;

}

a:hover {
	color:#9a3110;
}


body {

	background-color: #f6f6f6;


}

#header {
	
	height:50px;
	background-color: #454545;
	box-shadow: 0px 5px 7px #DDDDDD;

}

#header ul{
	list-style:none;
}

#header ul li{
	float:left;
	border-right: solid 1px #606060;
}

#header ul li a{
	color:#cccccc;
	padding: 15px 18px;
	display:block;
	text-decoration:none;

}


#header ul li a:hover{
	background: #353535;
}

#content {

	background-color: #fdfcfc;
	width: 70%;
	margin: 40px 15% 15% auto;
	box-shadow: 2px 3px 3px #DDDDDD;
	padding-left: 20px;
	padding-right: 20px;

}

#text_1 {

 	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

#text_2 {

 	padding: 20px;
	text-align: center;
	font-size: 20px;
}

#bot {
	
	padding: 25px;	
	background-color: #454545;
}


.btn {
	
	border-radius: 3px;
	border:0px;
	color: #cccccc;
	font-size: 14px;
	background: #606060;
	padding: 5px 10px;
	margin: 10px 15px;
	text-decoration: none;
}

.btn:hover {
	background: #353535;
	text-decoration: none;
}


table {
	border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
	margin: 20px 10%; 
}

tr:first-child {
	
	background-color: #555555;
	color: #cccccc;

}

tr:first-child:hover {
	
	background-color: #555555;
	color: #cccccc;

}

tr:hover {
	
	background-color: #f6f6f6;

}

td {
	border: 1px solid #454545;
	padding: 2px 4px;
	width: 250px;
	height:24px;

}

td:last-child {

	width: 120px;

}



.vvod{

	height:24px;
	border: 1px solid #454545;
	background-color: #fdfcfc;

}

.del_btn {
	
	border-radius: 5px;
	border: 0px;
	color: #cccccc;
	background: #606060;
	height: 18px;
	width: 40px;
	margin: 3px 1px;
	text-decoration: none;
}

.del_btn:hover {
	background: #353535;
	text-decoration: none;
}
