*{

	margin:0px;
	padding:0px;

}


body {

	background-color: #f6f6f6;


}


#osnova {

	background-color: #fdfcfc;
	width: 70%;
	margin: 40px 15% 15% auto;
	box-shadow: 2px 3px 3px #DDDDDD;
	padding-left: 20px;
	padding-right: 20px;

}

#text_1 {

 	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

#bot {
	
	padding: 25px;	
	background-color: #454545;
}
